html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);
}

.wrapper {
	max-width: var(--max-width);
	margin: 0 auto;

	width: var(--container-width);
}

a {
	color: var(--text-color-link);
	&:hover {
		text-decoration: underline;
	}
}

.demo {
	display: inline-block;
	color: var(--text-color-white);
	background-color: var(--text-color-link);
	padding: 6px 22px;
}