.coloredBlocks {

    padding: 32px 0 120px 0;

    h3 {
        font-family: var(--font-accent);
        font-size: 25px;
        line-height: 31.25px;
        letter-spacing: 0.2px;   
        margin: 10px 0;     
    }

    p {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.2px;        
    }

    .block_content {
        display: flex;
        justify-content: space-between;
    }

    .coloredBlock {
        padding: 32px 32px 40px 32px;
        width: 31%;

        &:nth-child(1) {
            background-color: #FAEA73;
        }
        &:nth-child(2) {
            background-color: #CCEFF6;
        }
        &:nth-child(3) {
            background-color: #F7CEDC;
        }
    }
}